@page "/contato"
<h3>Contato</h3>

@code {

}
<h1>Contato</h1>

<p>Oi, meu nome é Yhasmim Maia </p>

<p>Se quiser falar comigo:</p>

<p>Email: yhasmimmaia18@gmail.com</p>

<p>Telefone: (69) 99359-5453</p>

<p>Instagram: yyasmaia</p>

<p>GitHub: github.com/yhas</p>

<p>Cidade: Ji-Paraná - RO</p>

<br>

<input type="text" placeholder="Seu nome">

<br>
<br>

<input type="email" placeholder="Seu email">

<br>
<br>

<textarea placeholder="Digite sua mensagem"></textarea>

<br>
<br>

<button>Enviar</button>

<style>
    body {
        font-family: Arial;
        background-color: lightgray;
        text-align: center;
    }

    input {
        width: 200px;
        height: 30px;
    }

    textarea {
        width: 200px;
        height: 80px;
    }

    button {
        background-color: purple;
        color: white;
        border: none;
        width: 100px;
        height: 35px;
    }
</style>