@page "/curriculo"
<h3>Curriculo</h3>

@code {

}
<h1>Currículo</h1>

<p><b>Nome:</b> Yhasmim Maia</p>

<p><b>Cidade:</b> Ji-Paraná - RO</p>

<p><b>Email:</b> yhasmimmaia18@gmail.com</p>

<p><b>Telefone:</b> (69) 99359-5453</p>

<h2>Objetivo</h2>

<p>
    Quero aprender mais sobre tecnologia e ganhar experiência profissional.
</p>

<h2>Formação</h2>

<p>
    Estudante de informática.
</p>

<h2>Habilidades</h2>

<ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
</ul>

<style>
    body {
        background-color: lightgray;
        font-family: Arial;
        text-align: center;
    }

    h1 {
        color: purple;
    }

    h2 {
        color: darkblue;
    }

    p {
        background-color: white;
        width: 300px;
        margin: 10px auto;
        padding: 10px;
    }

    ul {
        background-color: white;
        width: 200px;
        margin: auto;
        padding: 20px;
        text-align: left;
    }
</style>