@page "/historia"

<h3>História</h3>

@code {
    
}
<h1>Minha História</h1>

<p>Oi, meu nome é Yhasmim Maia </p>

<p>
    Atualmente sou estudante de informática e gosto bastante da área de psicologia.
</p>

<p>
    Estou aprendendo sobre sites, sistemas e tecnologia aos poucos.
</p>

<p>
    Quero melhorar meus conhecimentos em informática e futuramente seguir carreira na psicologia.
</p>

<style>
    body {
        background-color: lightgray;
        font-family: Arial;
        text-align: center;
        padding: 20px;
    }

    h1 {
        color: purple;
    }

    p {
        background-color: white;
        width: 300px;
        margin: 10px auto;
        padding: 10px;
        border-radius: 10px;
    }
</style>

