@page "/Contato"

<PageTitle>MyContato</PageTitle>

<h1> Contato</h1>
<p>
    Estou disponível para oportunidades, parcerias e novos projetos. Sinta-se à vontade para entrar em contato comigo pelos canais abaixo:
</p>

<li>Telefone: (4002-8922)</li>
<li>E-mail: (micaelarthur10@gmail.com)</li>
<li>Cidade: Ji-Paraná – RO, Brasil</li>
<h2>Redes sociais:</h2>
<li>Instagram: micae.art</li>
<li>LinkedIn: (não tenho no momento)</li>
<li>GitHub: ()</li>












@code {

}
