@page "/Curriculo"
<PageTitle>MyCurriculo</PageTitle>

<h1> Curriculo</h1>

<h2> Dados Pessoais:</h2>
<li>Nome: Micael Arthur Lourenjo Joestar</li>
<li>Cidade: Ji-Paraná – RO, Brasil</li>
<li>Contato: (4002-8922)</li>
<li>E-mail: (micaelarthur10@gmail.com)</li>

<h2> Objetivo Profissional:</h2>
<li>
    Busco uma oportunidade para desenvolver minhas habilidades, adquirir experiência profissional e contribuir de forma positiva com a empresa,
    principalmente nas áreas de tecnologia, criação digital e desenvolvimento.
</li>

<h3> Formação Acadêmica:</h3>
<li> Ensino Fundamental / Ensino Médio (cursando)</li>

<h4> Habilidades</h4>
<li>Informática básica e intermediária;</li>
<li>Interesse em tecnologia e desenvolvimento digital;</li>
<li>Facilidade de aprendizado;</li>
<li>Criatividade e pensamento lógico;</li>
<li>Trabalho em equipe;</li>
<li>Boa comunicação;</li>








@code {

}
