@page "/Historia"

<PageTitle>MyStory</PageTitle>

<h1> Minha Historia</h1>
<li> Meu nome é Micael, e minha trajetória é marcada pela criatividade, evolução pessoal e busca constante por identidade e crescimento. 
    Desde cedo, desenvolvi interesse por tecnologia, design, música, moda e formas de expressão visual, 
    áreas que influenciaram diretamente minha maneira de pensar e enxergar o mundo.</li>

<h2> Origem</h2>
<li> Sou Micael, nascido e criado em Ji-Paraná, no estado de Rondônia, Brasil. Cresci em um ambiente urbano em desenvolvimento,
    o que me proporcionou contato com diferentes realidades e despertou desde cedo meu interesse por aprendizado e evolução pessoal.</li>




@code {

}
