@page "/Contato"

<PageTitle>Contato</PageTitle>

<section class="contato">

    <!-- BANNER -->

    <section class="secao-banner">

        <div class="banner-principal">

            <p class="subtitulo-banner">
                Portfólio de Feliphe
            </p>

            <h1 class="titulo-banner">
                CONTATO
            </h1>

            <p class="texto-banner">
                Aqui você poderá entrar em contato comigo.
            </p>

        </div>

    </section>

    <div class="area-voltar">

        <NavLink class="botao-voltar" href="/">

            <i class="bi bi-arrow-left"></i>
            Voltar para Home

        </NavLink>

    </div>

    <!-- CONTATOS -->

    <section class="conteudo-contato">

        <h2 class="titulo-contato">
            Formas de contato
        </h2>

        <!-- WHATSAPP -->

        <div class="card-contato">

            <h3>WhatsApp</h3>

            <a class="link-contato whatsapp"
                   href="https://wa.me/qr/2IT7H4PLI3UTF1"
                   target="_blank">

                <i class="bi bi-whatsapp"></i>
                Enviar mensagem

            </a>

        </div>

        <!-- EMAIL -->

        <div class="card-contato">

            <h3>Email</h3>

            <a class="link-contato email"
                   href="mailto:feliphe.ef@gmail.com">

                <i class="bi bi-envelope-fill"></i>
                Enviar email

            </a>

        </div>

        <!-- GITHUB -->

        <div class="card-contato">

            <h3>GitHub</h3>

            <a class="link-contato github"
                   href="https://github.com/feliphe-edu"
                   target="_blank">

                <i class="bi bi-github"></i>
                Ver perfil

            </a>

        </div>

        <!-- INSTAGRAM -->

        <div class="card-contato">

            <h3>Instagram</h3>

            <a class="link-contato instagram"
                   href="https://www.instagram.com/feliphzin/"
                   target="_blank">

                <i class="bi bi-instagram"></i>
                Ver perfil

            </a>

        </div>

        <!-- DISCORD -->

        <div class="card-contato">

            <h3>Discord</h3>

            <a class="link-contato discord"
                   href="https://discord.com/users/1378160060617981972"
                   target="_blank">

                <i class="bi bi-discord"></i>
                Ver perfil

            </a>

        </div>

    </section>

</section>