.minha-historia {
    width: 80%;
    margin: auto;
    padding: 30px 0;
    font-family: Arial;
}

.topo {
    margin-bottom: 30px;
}

    .topo h1 {
        font-size: 40px;
        color: #1e3a8a;
    }

    .topo p {
        margin-top: 10px;
        font-size: 18px;
    }

.btn-voltar {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    background-color: #1e3a8a;
    padding: 10px 15px;
    border-radius: 8px;
}

.bloco {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

    .bloco h2 {
        margin-bottom: 10px;
        color: #1e3a8a;
    }

    .bloco p,
    .bloco li {
        font-size: 17px;
        line-height: 1.5;
    }

@media (max-width: 768px) {

    .minha-historia {
        width: 90%;
    }

    .topo h1 {
        font-size: 30px;
    }
}
