@page "/"

<PageTitle>Home</PageTitle>

<section class="pagina-inicial">

    <section class="secao-banner">
        <div class="banner-principal">
            <p class="subtitulo-banner">Portifolio de Feliphe</p>
            <h1 class="titulo-banner">Bem-vindo ao meu espaço pessoal</h1>
            <p class="texto-banner">
                Aqui voce encontra um resumo da minha história e do meu curriculo.
            </p>
        </div>
    </section>

    <section class="secao-destaques">

        <article class="cartao-destaque cartao-claro">
            <span class="numero-destaque">01</span>
            <h2>Minha história</h2>
            <p>Minha trajetória resumida.</p>
            <NavLink href="/Minha_historia">Ver história</NavLink>
        </article>

        <article class="cartao-destaque cartao-escuro">
            <span class="numero-destaque">02</span>
            <h2>Meu curriculo</h2>
            <p>Minhas habilidades e experiências.</p>
           <NavLink href="/Meu_curriculo">Ver curriculo</NavLink>
        </article>

        <article class="cartao-destaque cartao-destaque-contato">
            <span class="numero-destaque">03</span>
            <h2>Contato</h2>
            <p>Fale comigo.</p>
            <NavLink href="/Contato">Entrar em contato </NavLink>
        </article>

    </section>

</section>