@page "/Minha_historia"

<PageTitle>Minha História</PageTitle>

<section class="minha-historia">

    <div class="topo">
        <h1>Minha História</h1>

        <p>
            Um pouco sobre mim e meus objetivos.
        </p>

        <NavLink class="btn-voltar" href="/">
            ← Voltar
        </NavLink>
    </div>

    <div class="bloco">

        <h2>Quem sou eu</h2>

        <p>
            Meu nome é Feliphe, tenho 16 anos e estudo no IFRO.
            Também faço curso no SENAI no período da noite.
        </p>

    </div>

    <div class="bloco">

        <h2>O que gosto</h2>

        <ul>
            <li>Tecnologia</li>
            <li>Programação</li>
            <li>Computadores</li>
            <li>Jogos</li>
            <li>Academia</li>
        </ul>

    </div>

    <div class="bloco">

        <h2>Minha rotina</h2>

        <p>
            Minha rotina é corrida por causa dos estudos e cursos,
            então tento organizar meu tempo da melhor forma.
        </p>

    </div>

    <div class="bloco">

        <h2>Objetivos</h2>

        <p>
            Quero crescer na área da tecnologia e continuar aprendendo
            cada vez mais.
        </p>

    </div>

</section>